#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main {
  padding: 0px 200px;
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-gap: 100px;
}

.main > svg {
  width: 100px;
  height: 100px;
  padding: 20px;
}
